@model IEnumerable<ST10033851_JereshanSinan_PROG7311_Part2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="Heading">Your Products</h1>

<a asp-action="Create" class="arrow">
    <span class="Create-Link">
        <span>
            <span>&#11153;&nbsp;</span>
        </span>
        Create new product
    </span>
</a>
<div class="module-grid">
    @foreach (var item in Model)
    {
        //Displays all the products that the farmer has created
        <div class="module-item">
            <img src="/Images/vegetables.png" alt="Module Image">
            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
            <p>Category:        @Html.DisplayFor(modelItem => item.Category)</p>
            <p>Production Date: @Html.DisplayFor(modelItem => item.ProductionDate.Date)</p>
            <p>Stock Available:    @Html.DisplayFor(modelItem => item.StockAvailable)</p>
            <div class="module-actions">
                <a asp-action="Delete" asp-route-id="@item.ID" class="modify">Delete</a>
            </div>
        </div>
    }
</div>

@if (TempData.ContainsKey("ErrorMessage"))
{
    //Displays a message that a product could not be created
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@TempData["ErrorMessage"]',
        });
    </script>
}
